.items-index {
  .swiper-container, .image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .swiper-slide {
    position: relative;
  }
  .name {
    position: absolute;
    font-size: 3em;
    color: white;
    text-shadow: 0 0 6px black;
    width: 100%;
    text-align: center;
    bottom: 1em;
  }
}
