.navbar {
  @include clearfix;
  border-bottom: 1px solid $base-border-color;
  clear: both;
  cursor: pointer;
  line-height: 2;
  margin: em(30) 0;
  overflow: visible;
  position: relative;
  text-align: center;
  width: 100%;
}

nav li {
  @include span-columns(3);
  display: inline-block;
  margin: 0.5em 0;
}
